vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Jul 2008 07:11:42 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|LEERLINGEN\\ep181296
vti_modifiedby:SR|LEERLINGEN\\ep181296
vti_timecreated:TR|10 Jul 2008 07:11:42 -0000
vti_cacheddtm:TX|10 Jul 2008 07:11:42 -0000
vti_filesize:IR|2309
vti_backlinkinfo:VX|
