---
---

<!DOCTYPE html>
<html class="">
<head>
    <meta charset=utf-8 />
    <title> {% if page.title %} {{ page.title }} | {% endif %} Cope </title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/instafeed.js"></script>
      
    
    <link rel="stylesheet" href="/assets/css/3-sections/header.css" />
    <link rel="stylesheet" href="/assets/css/3-sections/footer.css" />
    <link rel="stylesheet" href="/assets/css/3-sections/about.css" />
    <link rel="stylesheet" href="/assets/css/3-sections/upcoming.css" />
    <link rel="stylesheet" href="/assets/css/3-sections/contact.css" />
</head>
    
    
<body style="margin: 0">
 
    {% include header.html %}
    
    {% include about.html %}
    
    {% include upcoming.html %}
    
    {% include contact.html %}
    
    {% include footer.html %}
    
    <script src="assets/js/about_event.js"></script>
</body>
    
</html>