---
---

<!DOCTYPE html>
<html class="">
<head>
    <meta charset=utf-8 />
    <title> {% if page.title %} {{ page.title }} | {% endif %} John Doe, Photographer </title>
    
    <link rel="stylesheet" href="/assets/css/3-sections/header.css" />
    <link rel="stylesheet" href="/assets/css/3-sections/footer.css" />
    <link rel="stylesheet" href="/assets/css/3-sections/about.css" />
</head>
    
    
<body style="margin: 0">
 
    {% include header.html %}
    
    {% include about.html %}
    
    {% include footer.html %}
</body>
    
</html>