<section class="about-section">
    <h3>About Me</h3>

    <div class="lockup">
    
        <div class="face-img"></div>
        
        <div class="icon-profile" id="about"> {% include icons/profile.html %} </div>
        <div class="icon-soundcloud" id="soundcloud"> {% include icons/soundcloud.html %} </div>
        <div class="icon-youtube" id="youtube"> {%include icons/youtube.html %} </div>
        <div class="icon-facebook" id="facebook"> {% include icons/facebook.html %} </div>
        
    </div>
    <div class="info">
        
        <div class="about" id="info" tag="active" style="display:block">
            <p class="text"><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</strong> Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
        </div>

        <div class="youtube" id="info" style="display:none">
            <p class="text"><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</strong> Schaliegas is aardgas dat wordt gewonnen uit schalie. Om dit gesteente te bereiken worden boringen uitgevoerd die horizontaal worden voortgezet, zodra de steenlaag bereikt is.Aangezien boringen niet voldoende zijn om het gas te doen vrijkomen, dient de boorput te worden gestimuleerd. Dit gebeurt middels een techniek die hydraulisch fractureren, fraccen of (Engels) "fracking" genoemd wordt. Hierbij worden onder hoge druk grote hoeveelheden water, zand en chemicaliën ingespoten</p>
        </div>
        
        <div class="soundcloud" id="info" style="display:none">
            <iframe class="text" width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/275333525&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        </div>
        
        <div class="facebook" id="info" style="display:none">
            <p class="text"><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</strong> Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
        </div>
   
    </div>
<!--    <p class="text"><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</strong> Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>-->
    
</section>