<section class="contact-section">
    
    <h3>Contact</h3>
    
    <ul class="wrapper">
        <li class="first-col">
            <div class="contactForm"></div>
        </li>
        <li class="second-col">
            <div class="vertical-line"></div>
        </li>
        <li class="third-col">
            <div class="contactText">
                Corneel Peters <br>
                Stationsstraat 38 <br>
                3070 Kortenberg BE <br>
                04........ <br>
                corneelpeters98@hotmail.com
            </div>
        </li>
    </ul>
    
</section>