<section class="upcoming-section" id="upcoming">
    <h3>Find me At</h3>
    
    <ul class="boxes">
        <li class="first-col">
            <a href="#" target="_blank" style="text-decoration: none; decoration: none;">
                <div class="card">
                    <img src="../assets/img/logo-recup.jpg" />
                    <!--<div style="height: 1px; width: 100%; background: black;"> </div>-->
                    <div class="text-container">
                        <p>Recup</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="second-col">
            <a href="#" target="_blank" style="text-decoration: none; decoration: none;">
                <div class="card">
                    <img src="../assets/img/logo-denaap.jpg" />
                    <!--<div style="height: 1px; width: 100%; background: black;"> </div>-->
                    <div class="text-container">
                        <p>JH Den Aap</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="third-col">
            <a href="#" target="_blank" style="text-decoration: none; decoration: none;">
                <div class="card">
                    <img src="../assets/img/logo-dulci.png" />
                    <!--<div style="height: 1px; width: 100%; background: black;"> </div>-->
                    <div class="text-container">
                        <p>Dulci</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    
</section>