---
---

.contact-section {
    background: #f6f6f6;
    padding-bottom: 30px;
    
    h3 {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: #F5B616;
        padding-top: 75px;
        margin: 0;
        text-transform: uppercase;
    }

  .text {
    margin-top: 30px;
    display: inline-block;
    text-align: left;
    color: darkgray;
    font-size: 22px;
    font-weight: 500;
    padding: 0 15px 0 15px;
  }

    
   .wrapper {
        padding: 0 0 20px 0;
        margin: 0 auto;
        width: 50%;
        //text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
        li {
            margin-right: 10px;
            display: inline-block;
            width: 100%;
        }
    }

  .text-field {
    //height: 5.5em;
    width: 100%;
  }

  .contact-form {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #bdc3c7;
    -webkit-transition: border-color 0.6s;
    transition: border-color 0.6s;

    max-width: 700px;
    width: 100%;
  }

  .contact-form .error input[type=text] {
    border-color:#D893A1;
  }

  .contact-form input[type=text],
  .contact-form input[type=tel],
  .contact-form input[type=email],
  .contact-form input[type=date],
  .contact-form textarea,
  .contact-form .element-file .file_text,
  .contact-form select{
    border-style: solid;
    border-width: 2px;
    border-color: #bdc3c7;
    -webkit-transition: border-color 0.6s;
    transition: border-color 0.6s;
    //border-radius:6px;

    padding: 6px 10px;

    outline:none;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: normal;

    font-size: 1em;
  }

  .button {
    display: inline-block;
    padding: 4px 12px;
    margin-top: 6px;
    margin-bottom: 1px;
    color: #666666;
    text-align: left;
    text-decoration-color: darkgray;
    vertical-align: middle;
    cursor: pointer;
    background: #fff;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: normal;

    border: 2px solid #bdc3c7;
    -webkit-transition: border-color 0.6s;
    transition: border-color 0.6s;
    border-radius:6px;

    float: right;
  }

  .required {
    color:#FF9999;
    margin-left: 2px;
  }

  .title {
    color: darkgray;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 2px;
  }
}