vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Feb 2011 23:34:36 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|LEERLINGEN\\ep181296
vti_modifiedby:SR|LEERLINGEN\\ep181296
vti_timecreated:TR|26 Feb 2011 23:34:36 -0000
vti_cacheddtm:TX|26 Feb 2011 23:34:36 -0000
vti_filesize:IR|1040
vti_backlinkinfo:VX|Website\\ (AppMe/js/tweet/index.html
