vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 May 2011 19:02:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Website\\ (AppMe/js/poshytip-1.1/demo/demo.html
vti_author:SR|LEERLINGEN\\ep181296
vti_modifiedby:SR|LEERLINGEN\\ep181296
vti_timecreated:TR|05 May 2011 19:02:08 -0000
vti_cacheddtm:TX|05 May 2011 19:02:08 -0000
vti_filesize:IR|7792
vti_cachedlinkinfo:VX|S|sheet_bg.jpg S|bullet.png
vti_cachedsvcrellinks:VX|FSUS|Website\\ (AppMe/js/poshytip-1.1/demo/includes/sheet_bg.jpg FSUS|Website\\ (AppMe/js/poshytip-1.1/demo/includes/bullet.png
